<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <div style="display: flex; justify-content: space-between; align-items: center;">
     <div> <h1><a href="/">Hello Barke</a></h1></div>
     <div><button><a href="/login">Login</a></button><button><a href="/signup">signup</a></button></div>
    </div>
  </nav>
  </body>