<%- include('partials/header'); -%>

<header>
    <h1>Accueil</h1>
  <div class="smoothie">
    img not found
  </div>
  <div class="headings">
    <h2>What do you need</h2>
    <h3>By Barke</h3>
    <a href="/home" class="btn">View Products</a>
  </div>
</header>


<%- include('partials/footer'); -%>